---
// assets
import halloween from "@/assets/halloween.svg";

// styles
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Creepster&display=swap"
      rel="stylesheet"
    />
    <title>Halloween Snap n' Share</title>
  </head>
  <body class="container py-8 grid gap-8">
    <header>
      <h1 class="text-5xl text-orange-600">Halloween Snap n' Share</h1>
      <img
        src={halloween.src}
        alt=""
        class="absolute top-0 right-0 h-1/2 pointer-events-none"
      />
      <!-- image credit https://pixabay.com/vectors/spider-web-spider-web-halloween-1777668/ -->
    </header>
  </body>
</html>
